- name: Install Python3
  # raw only for demo purposes. I believe that better is not to use raw but dedicated Ansible plays (actions)
  raw: apt-get update && apt-get install -y python3

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Postgres client tools
  apt:
    name: "{{ postgres_packages }}"
    state: present

# Postgres server is the official container image; ensure it is reachable via health check
- name: Print debug info
  debug:
    msg: "postgres_db data {{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}"

- name: Wait for Postgres to be ready
  wait_for:
    host:  "{{ db_host }}"
    port:  "{{ db_port }}"
    state: present
    # delay: 5
    timeout: 30

- name: Test connection to Postgres
  command: >
    psql -h {{ db_host }}
         -U {{ db_user }}
         -d {{ db_name }}
         -c "SELECT 1"
  environment:
    PGPASSWORD: "{{ db_password }}"
